

*, *::after, *::before{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: #264248;
}



.nav{
    display: flex;
    position: sticky;
    background-color:#264248;
    justify-content: center;
    align-items:center;
    top:0px;
    z-index: 100;
    
}


.nav_item{
    width: 80%;
    height: 100%;
    
    display: flex;
    
    
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.enter,
.logo{
    
    height: 75px;
    width: 10%;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.logo{
    margin-top: 15px;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.enter .btn{
    color: #fdae38;
    display: block;
    background-color: #4fa3a5;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    
    border: 5px solid #fdae38;

    border-radius: 25px;

    transition: all 0.4s;
}

.enter .btn:hover{
    color: #4fa3a5;
    background-color: #fdae38;
    border-color: #4fa3a5
}
.nav_item li{
    list-style: none;
    margin: 42px;
    color: #4fa3a5;
    transition: all 0.4s;
    
}


.nav_item li:hover{
    color: #fdae38;
}

.main{
    display: flex;
    
    align-items:center;
    color:#4fa3a5;
    font-size: 36px;
    height: 600px;
    
}
.main h1{
    text-align: center;
    
}

.main .highlight{
    color:#fdae38;
}

.for_whom_header{
    text-align: center;
    font-size: 40px;
    color:#4fa3a5;
    margin-bottom: 30px;
}

.for_whom{
    display: flex;
    height: 300px;
    color:#fdae38;
    justify-content: center;
    align-items:center;
    margin-bottom: 40px;
}


.card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    margin-left: 45px;
    border: 3px solid #fdae38;
    font-size: 18px;
    border-radius: 20px;
    transition: all 0.4s;
    
}

.card:hover{
    transform: translateY(-30px) rotate(10deg);
    box-shadow: 0 0 20px;
}

.card i{
    font-size: 100px;
    margin-bottom: 75px;
}


.presentation{
    display: flex;
    
    
    flex-direction: column;
    align-items:center;
    
}

.info{
    height: 600px;
    display: flex;
    align-items: center;
}
.pres_item_1_text,
.pres_item_1_img,
.pres_item_2_img,
.pres_item_2_text{
    width: 50%;
    height: 100%;
}

.pres_item_1_text,
.pres_item_2_text{
    padding: 30px;
    text-align: center;
    display: flex;
    color:#4fa3a5;
    flex-direction: column;
    
    justify-content: center;
   
}
.pres_item_1_text h3,
.pres_item_2_text h3{
    color:#fdae38;
    margin-bottom: 30px;
    font-size: 50px;
}
.pres_item_1_text span{
    color:#fdae38;
}
.pres_item_1_text p,
.pres_item_2_text p{
    font-size: 24px;
}

.pres_item_1_img,
.pres_item_2_img{
    position: relative;
    background-color:#4fa3a5;
    display: flex;
    align-items:center;
    justify-content: center;
}
.pres_item_1_img img,
.pres_item_2_img img{
    position: absolute;
    
    height: 550px;
    margin: 15px;
    transform: translateX(-30%);
    box-shadow: 0 0 15px 5px #264248;
    
    border-radius: 25px;
    transition: all 0.4s;
}
.pres_item_2_img img{
    transform: translateX(30%);
}

.pres_item_1_img img:hover{
    transform: translateX(50%);
    box-shadow: 300px 0 #264248;
}
.pres_item_2_img img:hover{
    transform: translateX(-50%);
    box-shadow: -300px 0 #264248;
}

.footer{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
.logo_footer{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.logo_footer h4{
    color:#4fa3a5;
    font-size: 16px;
}

.logo_footer img{
    height: 150px;
}

.social_footer a{
    text-decoration: none;
    font-size: 50px;
    border-radius:50%;
    color:#4fa3a5;
    margin-right: 20px;
    transition: all 0.4s;
}
.social_footer i{
    font-size: 50px;
    
}

.social_footer a:hover{
    color:#fdae38;
}

